@use "../global.scss" as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5em 0 5em 0;
  background-color: $gray-700;
  background-image: url(../assets/bg-header.webp);
  flex-direction: column;
  img {
    max-width: 126px;
  }

  h1 {
    background: rgba(0,0,0,.65);
    border-radius: 8px;
    display: block;
    font-size: .75rem;
    font-weight: 700;
    padding: .25rem .5rem;

    span {
      display: none;
    }
  }
}
